:root  {
  --stacks-blue: #5546FF;
  --stacks-complement: #ffa946;
  --stacks-blue-opaque: #5546FF20;
  /* https://projects.invisionapp.com/boards/HE2VVROFSGB27 */
  --brand-background: #270F34;
  --brand-lines: #4B3457;
  /* Blockstack colors */
  --brand-dark: #211F6D;
  --brand-mild: #C4D8E5;
  --brand-greyish: #F1F6F9;
  --brand-bright: #3700FF;
  --brand-accent: #00D4FF;
    /* Stacks authentication colors */
  --brand-login-background: var(--stacks-blue);
  --brand-login-accent: var(--stacks-blue-opaque);
  --brand-login-complement: var(--stacks-complement);
}

:root  {
  --primary: var(--stacks-blue);
  --primary-complement: var(--stacks-complement);
  --primary-mild: var(--stacks-blue-opaque);
  --app-info-color: var(--stacks-blue-opaque);
  --app-link-accent: var(--primary-complement);
  
  --font-family-sans-serif: OpenSauceOne-Black;
}

body {
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'ss01' on;
  font-family: "Open Sauce One", sans-serif !important;
}

.inspect {
  border: thin solid red;
}

.inspect .inspect {
  border: thin solid yellow;
}

.inspect .inspect {
  border: thin solid green;
}

#signin-button {
  background-color: var(--brand-login-background);
  border-color: var(--brand-lines);
  color: var(--brand-greyish);
}

#signin-button:hover {
  border-color: var(--white);
  color: var(--white);
}

html:not(.message-app) .message-only {
  display: none !important;
}

html:not(.drop-app) .drop-only {
  display: none !important;
}

html:not(.dcrypt-app) .dcrypt-only {
  display: none !important;
}
