
html.message-app {
  --primary: var(--brand-login-accent);
  --primary-complement: var(--brand-login-complement);
  --navbar: var(--brand-background);
  --alert: var(--blue);
  --app-info-color: var(--blue);
  --app-link-accent: var(--primary-complement);
  --app-navbar-background: var(--brand-login-background);
}

html.drop-app {
  --primary: var(--brand-login-accent);
  --primary-complement: var(--brand-login-complement);
  --app-navbar: var(--brand-background);
  --alert: var(--blue);
  --app-info-color: var(--blue);
  --app-link-accent: var(--primary-complement);
}

html.drop-app #encrypt-item {
  /* Cannot set display to none as it disables tab action used in sharing */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

html.drop-app #decrypt-item {
  order: 3;
}

html.drop-app #encrypt-feature {
  display: none;
}

html.drop-app #decrypt-feature {
  order: 3;
}
