
.inspect {
  border: thin solid red;
}

.inspect .inspect {
  border: thin solid yellow;
}

.inspect .inspect {
  border: thin solid green;
}

.alert-info {
  background-color: var(--blue);
}

.text-info {
  color: var(--blue) !important;
}

.PublicKeyField input {
  width: 100%;
}

html.authenticated .unless-authenticated {
  display: none !important;
}

html:not(.authenticated) .when-authenticated {
    display: none !important;
}

html:not(.encrypting):not(.authenticated) .when-encrypting {
    display: none !important;
}

/* NavBar */

nav.navbar {
  opacity: 1.0;
}

html:not(.authenticated) #navbarNav .nav-tabs {
    display: none !important;
}

#navbarNav .nav-link:not(.active) {
  color: gray;
}

#navbarNav .nav-link.active {
  background-color: transparent;
}

.avatar img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-right: 0.3em;
}

/* MAIN */

main {
  background-color: #181818;
  min-height: 100vh;
  min-height: calc(100vh - 32px);
}

main .jumbotron {
  background-color: #181818;  /* original conflicts input-group colors */
}

main .jumbotron > .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
}

main mark {
  border-radius: 5px;
  background-color: inherit;
  color: #fcf8e3;
  border: thin solid transparent;
}

main mark:hover {
  border-radius: 5px;
  background-color: transparent;
  color: inherit;
  border: thin solid yellow;
}

/* FEATURES */

.features-icons {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
  text-align: center;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
  transition: font-size 0.2s ease-in-out;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5.5rem;
}

/* Key Fields */

/*
.PrivateKeyField input.key-field:not(:focus) {
  color: transparent;
  text-shadow: 0 0 4px rgba(0,0,0,0.5);
}*/

.PrivateKeyField input.key-field:not(:focus) {
  font-family: "text-security-square";
  color: gray;
}

.PrivateKeyField input.key-field:hover {
  color: black;
}



.PublicKeyField input.key-field {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.PrivateKeyField input.key-field {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Dropzone */

.Dropzone {
  height: 200px;
  margin: auto;
  /*background-color: #fff;*/
  border: 2px dashed rgb(187, 186, 186);
  border-radius: 5%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

.Dropzone:hover {
  border-color: rgb(230, 230, 230);
}

.Dropzone .fas {
  font-size: 100px;
}


/* Footer */

.blockstack-glyph {
  height: 0.9rem;
  width: 0.9rem;
  margin-right: 0.2rem;
  background-image: url(/media/blockstack_logo_400x400.png);
  background-position: -0.35rem -0.35rem;
  background-repeat: no-repeat;
  background-size: 170% 170%;
  border-radius: 0.2rem;
}
