
.inspect {
  border: thin solid red;
}

.inspect .inspect {
  border: thin solid blue;
}

/* Dropzone */

.Dropzone {
  height: 200px;
  width: 200px;
  background-color: #fff;
  border: 2px dashed rgb(187, 186, 186);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}
