
.inspect {
  border: thin solid red;
}

.inspect .inspect {
  border: thin solid yellow;
}

.inspect .inspect {
  border: thin solid green;
}

.alert-info {
  background-color: var(--blue);
}


/* NavBar */

html:not(.authenticated) #navbarNav .nav-tabs {
    display: none !important;
}

html.authenticated .unless-authenticated {
  display: none !important;
}

html:not(.authenticated) .when-authenticated {
    display: none !important;
}



.avatar img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-right: 0.3em;
}

/* FEATURES */

.features-icons {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
  text-align: center;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
  transition: font-size 0.2s ease-in-out;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5.5rem;
}

/* Dropzone */

.Dropzone {
  height: 200px;
  width: 80%;
  margin-left: 10%;
  /*background-color: #fff;*/
  border: 2px dashed rgb(187, 186, 186);
  border-radius: 5%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

.Dropzone .fas {
  font-size: 100px;
}


/* Footer */

.blockstack-glyph {
  height: 0.9rem;
  width: 0.9rem;
  margin-right: 0.2rem;
  background-image: url(https://pbs.twimg.com/profile_images/1099073690065547265/0T4PyCGk_400x400.png);
  background-position: -0.35rem -0.35rem;
  background-repeat: no-repeat;
  background-size: 170% 170%;
  border-radius: 0.2rem;
}
