
:root  {
  /* https://projects.invisionapp.com/boards/HE2VVROFSGB27 */
  --brand-background: #270F34;
  --brand-lines: #4B3457;
  /* Blockstack colors */
  --brand-dark: #211F6D;
  --brand-mild: #C4D8E5;
  --brand-greyish: #F1F6F9;
  --brand-bright: #3700FF;
  --brand-accent: #00D4FF;
    /* Blockstack authentication colors */
  --brand-login-background: #2F2161;
  --brand-login-accent: #A56DFF;
}

.inspect {
  border: thin solid red;
}

.inspect .inspect {
  border: thin solid yellow;
}

.inspect .inspect {
  border: thin solid green;
}

.alert-info {
  background-color: var(--blue);
}

.text-info {
  color: var(--blue) !important;
}

.PublicKeyField input {
  width: 100%;
}

html.authenticated .unless-authenticated {
  display: none !important;
}

html:not(.authenticated) .when-authenticated {
    display: none !important;
}

html:not(.encrypting):not(.authenticated) .when-encrypting {
    display: none !important;
}

body {
  --orange: #d6612a; /* Complements the blue */
}

/* NavBar */

nav.navbar {
  opacity: 1.0;
}

html:not(.authenticated) #navbarNav .nav-tabs {
    display: none !important;
}

#navbarNav .nav-link:not(.active) {
  color: gray;
}

#navbarNav .nav-link.active {
  background-color: transparent;
}

#navbarNav .nav-link i {
  margin-right: 0.25em;
}

#navbarNav .nav-link.active {
    opacity: 0.8;
}

#navbarNav .nav-link.active i {
  color: var(--blue);
}

#navbarNav .nav-link:not(.active):hover i {
  color: var(--yellow);
}

.avatar img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-right: 0.3em;
}

/* MAIN */

main {
  background-color: #181818;
  min-height: 100vh;
  min-height: calc(100vh - 32px);
}

main .jumbotron {
  background-color: #181818;  /* original conflicts input-group colors */
}

main .jumbotron > .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
}

main mark {
  border-radius: 5px;
  background-color: inherit;
  color: #fcf8e3;
  border: thin solid transparent;
}

main mark:hover {
  border-radius: 5px;
  background-color: transparent;
  color: inherit;
  border: thin solid yellow;
}

main .btn-primary:hover {
  background-color: var(--yellow);
}

main a:hover {
  color: var(--yellow);
}

/* LANDING PAGE FEATURES */

.features-icons {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
  text-align: center;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
  transition: font-size 0.2s ease-in-out;
}

.authenticated .features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5.5rem;
  color: var(--yellow) !important;
}

/* Disable pane links unless authenticated */

html:not(.authenticated) .features-icons .features-icons-item {
  pointer-events: none;
}

/* Key Fields */

/*
.PrivateKeyField input.key-field:not(:focus) {
  color: transparent;
  text-shadow: 0 0 4px rgba(0,0,0,0.5);
}*/

.KeyField input.key-field{
}

.PublicKeyField input.key-field {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.PrivateKeyField input.key-field:not(:focus) {
  font-family: "text-security-square";
  color: gray;
}

.PrivateKeyField input.key-field:hover {
  color: black;
}

.PrivateKeyField input.key-field {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Footer */

.blockstack-glyph {
  height: 0.9rem;
  width: 0.9rem;
  margin-right: 0.2rem;
  background-image: url(/media/blockstack_logo_400x400.png);
  background-position: -0.35rem -0.35rem;
  background-repeat: no-repeat;
  background-size: 170% 170%;
  border-radius: 0.2rem;
}
