
.InfoToggle {
  cursor: pointer;
}

.InfoToggle:hover {
  cursor: pointer;
  color: var(--app-link-accent) !important;
}


.InfoBox.alert {
  background-color: transparent;
  border: thin solid var(--app-info-color);
}
